:host {
    font-family: 'proxima_nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
    padding: 0;
    margin: 0;
    background-color: #1c1c1e;
    height: 400px;
}

#artwork {
    text-align: center;
    margin: 25px 0 15px 0;
}

#player {
    margin: 0 auto;
    width: 210px;
    color: #dfe0e6;
    text-align: center;
}

#player h3 {
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    margin: 0;
}

#player h4 {
    font-weight: 100;
    font-size: 12px;
    line-height: 16px;
    margin: 0;
}

#progress {
    margin: 0 auto;
    width: 240px;
}

#progress paper-slider::shadow #sliderKnobInner {
    background-color: #ffffff;
}

#progress paper-slider::shadow #sliderBar::shadow #activeProgress {
    background-color: #84bd00;
}

#progress paper-slider::shadow #sliderBar::shadow #progressContainer {
    background-color: #3e3e40;
}

#progress paper-slider::shadow #sliderKnob.expand:not(.pin) > #sliderKnobInner {
    width: 20px;
    height: 20px;
}
#progress #track-current {
    float: left;
    color: #88898c;
    font-size: 12px;
    left: 16px;
    position: relative;
}

#progress #track-length {
    float: right;
    color: #88898c;
    font-size: 12px;
    right: 16px;
    position: relative;
}

#controls {
    margin: 10px auto 0 auto;
    width: 240px;
}

#playback {
    margin: 0 auto;
}

#playback button {
    height: 40px;
    width: 40px;
    max-height: 40px;
    margin: 5px 0;
    padding: 0;
    background: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    font-weight: 400;
    cursor: pointer;
    outline: none;
}

#playback button i:hover {
    color: #ffffff;
}

#playback #play-pause {
    height: 52px;
    width: 52px;
    max-height: 52px;
    max-width: 52px;
    display: block;
    border: 1px solid #88898c;
    border-radius: 50%;
    padding-left: 5px;
    margin: 0 20px;
}

#playback #play-pause:hover {
    border-color: #84bd00;
}

#playback button i {
    color: #dfe0e6;
    text-align: center;
}

